/**** Footer *****/

.f {
    background-color: $--Grey;
    padding: 22px 25px;
    position: sticky;

    a {
        color: $--forth-color;
    }

    .h3-normal {
      font-family: $font-family-1;
      font-size: 18px;
      font-weight: $font-weight3;
      color: $--forth-color;
      margin: 0;
    }

    &_content {
        margin-bottom: 0;
        padding: 0;        
    }

   .h5 {
      font-family: $font-family-2;
      font-weight: $font-weight2;
      color: $--forth-color;
      margin: 7px 0;

      i {
        color: $--forth-color;
      }
    }

    @include desktop-medium {
        & {
        height: 114px;
        display: flex;
        flex-flow: row-reverse;       
        align-items: flex-end;       
        }

        .h3-normal {
            font-family: $font-family-1;
            color: $--forth-color;
            margin: 0 16px;
            padding: 3px;
        }

        &_content {
            display: flex;
            gap: 7px;
        }

        .h5 {
            margin: 7px;
        }
    }
}