
/**  HEART  **/   
.heart {    

  &_checkbox {
    display:none;
  }

  .fa_empty, .fa_full {
    
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    right: 35px;
  }

  .fa_full {
    
    opacity: 0;

    &::before {
      background-image: $--Button-Gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .heart_checkbox:checked + .heart_label {

    .fa_full {
    opacity: 1;
    }
  }

}




