/**  HEART  **/   
//**main page**//
.heart {    

  &_checkbox {
    display: none;
  }

  .fa_empty, .fa_full {    
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    right: 35px;
  }

  .fa_full {
    
    opacity: 0;

    &::before {
      background-image: $--Button-Gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .heart_checkbox:checked + .heart_label {

    .fa_full {
    opacity: .9;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.18, -0.38, 0.75, 1.57) alternate;
    }
    .fa_empty {
    
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.18, -0.38, 0.75, 1.57) alternate;

    }
  }
}
//**menu page**//
.resto_title {
  .heart {
		display: flex;
    align-items: center;
    position: relative;
		
    .fa_empty, 
		.fa_full {

		  position: absolute;
      top: -2px; 
			right: 30px;

      @include desktop-medium {
            left: 2px;
      }
    }
  }
}




