
/* Loader at Index.html */  
.loader {
    font-family: $font-family-1;
    background: $--fifth-color; 
    position: fixed  ;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
    top: 0;  
    animation: loader 5s ease-in-out forwards;
    

    &_logo { 
        font-size: 40px;
        display: flex;
        text-align: center;
        
        background: linear-gradient(
        155deg,  #9356dc -11.44%,
        #ff79da 123.93%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        i {
            background: linear-gradient(
            190deg,  #9356dc -11.44%,
            #ff79da 123.93%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-inline-start: 20px;
            animation: departure 1s linear;

            i::before{
                content: " ";
                position: absolute;
                right: 0;
                top: 0;
                animation: bounce 0.5s ease-in-out infinite;
            }
        }       
    } 
}

.loader_circle {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin: 10px;
        background: linear-gradient(-111deg,  #9356dc -11.44%,
        #ff79da 123.93%); 
        position: relative;
        top: 0;  

        &.ball1 {
            animation: bounce 2s infinite;
            animation-delay: 0.5s;
            animation: jump 5s linear;
        }

        &.ball2 {
            animation: bounce 3s infinite;
            animation-delay: 1s;
            /*animation: departure 1.5s linear;*/
        }

        &.ball3 {
            animation: bounce 4s infinite;
            animation-delay: 1.5s;
            /*animation: departure 2.5s linear;*/
           
        }
    }


    
