@import '../utils/variables';

/* Loader at Index.html */  
.loader {
    font-family: $font-family-1;
    background: $--fifth-color; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    position: fixed;
    z-index: 5;   
    animation: driving_on  100ms linear;

    &_logo { 
        font-size: 40px;
        background-image: linear-gradient(-111deg,  #9356dc -11.44%,
        #ff79da 123.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        text-align: center;
        z-index: 10;
        animation: driving_on  100ms linear;
        
        &_fa {
            color: $--Primary-color;
            margin: 20px;
            animation: driving_on  6s linear;
            animation: driving_on 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) ease-in-out;   
        }
    } 

    &_circle {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin: 10px;
        background-image: linear-gradient(-111deg,  #9356dc -11.44%,
        #ff79da 123.93%);   
        animation-timing-function: steps(5, jump-start);     
    }

}
    
