/*
.meals_list 
   transform: translateY(-30px);
   animation: download 2s forwards;


    &.entrees {
      animation-delay: 0.2s;
   }
   
   &.plats {
      animation-delay: 0.4s;
   }
   
   &.desserts {
      animation-delay: 0.6s;
   }   
*/ 
