//**** Menu Page ****//
//***banner image***//
.banner {
   img {
   	@include banner-images;
   }
}

//Menu Card*//
.resto_menu {
   max-width: 1920px;
   background-color: $--third-color;
   border-radius: 45px 45px 0px 0px;
   padding: 31px 17px 0;
   margin-top: -40px;
   

   @include tab {
      margin-left: 13%;
   	margin-right: 13%;
   }

   @include desktop-large {
      width: 1055px;
      margin: auto;       
   }
}

.resto_title {
	
   h2 {      
   	font-size: 28px;
   	font-family: $font-family-1;
   	font-weight: $font-weight3;
      text-align: start;
      margin: 0; 
   }

   .heart {
		display: flex;
		
      .fa_empty, 
		.fa_full {
			position: absolute;
			top: 50px;
			right: 46px;
      }
   }
}

.meals_list {

   width: 100%;
   overflow: hidden;  
   animation: loading_menu 1s forwards;
   




   &_title {
   	font-family: $font-family-2;
    	font-size: 16px;
    	font-weight: $font-weight4;
      border-bottom: 3px solid $--Green;
      width: 40px;
      margin-top: 40px;
      margin-bottom: 12px;
   }

   &_option {
        background-color: $--forth-color;
        border-radius: 15px;
        display: flex;             
        height: 69px;
        margin-bottom: 12px;
        cursor: pointer;       
        width: 100%;
        overflow: hidden;

        &:hover .order {        
            margin-right: 0%;    
            .fa-check {
                transform: rotate(-360deg);   
                transition: 2s ease-in-out;  
            } 
        }  
        
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h3 {
               font-family: $font-family-2;
    				font-size: 18px;
    				font-weight: $font-weight2;
    				margin: 0;
               overflow: hidden;
               text-overflow: ellipsis;
               width: 60%;
            }

            .describe {
                width: 100%;
                display: flex;
                justify-content: space-between;

                p {
						font-family: $font-family-2;
						font-size: 15px;    
                  font-weight: $font-weight4;
                  margin: 0;
                  width: 60%;
                  overflow: hidden;
                  text-overflow: ellipsis;                   
                }
                .price {
						font-family: $font-family-2;
						font-size: 15px;    	  
                  font-weight: $font-weight1;                                                            
                }                         
            }                    
        } 
        .order {            
            display: inline-block; 
            width: 69px;
            height: 70px;
            border: solid $--Green;  
            background-color: $--Green;
            border-radius: 0 15px 15px 0; 
            margin-right: -69px; 
            transition: all .2s ease-out;

            .fa-check {   
                color: $--Green;
                background-color: $--forth-color;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                margin: 20px 20px;   
            }    
        }                    
    }
}   
  

.btn_commande {
    display: flex;
    justify-content: center;
    padding: 40px;

        button {
            @extend %btn;
            padding: 16px 48px 15px 49px;
            
            &:hover {
                @extend %btn-animated          
            }
        }
} 




