/* ANIMATION loader MainPage */   
@keyframes driving_on {
    30% {
        transform: translateX(-1000%);
        transition-property: all 1s;      
    }  
    50% {
        transform: translateX(-500%);
        
    }
    100% {
        transform: translateX(0%);
                 
    }
}

@keyframes loader {
    from {
        opacityy: 0;
    }
    to {
        opacity:1;
    }
}

/* ANIMATION Rolling checked on MenuPage */ 
@keyframes slide_down {
    from {
        transform: translateX(60%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }   
}
@mixin loading_menu {
    opacity: 0;
    animation: slide_down 8s linear;
}